/***********************************************/
/***************** IMPORTS *********************/
/***********************************************/

/* Red Hat Display Font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/***********************************************/
/***************** VARIABLES *******************/
/***********************************************/
:root {

  /************** COLORS ******************/

  /* Background Colors */
  --main-background-color: #fafafa;
  --white: #fff;
  --color-aqua: #4D96A9;
  --color-light-aqua: #8FE3F9;
  --color-aqua-active: #71C0D4;
  --color-purple: #855FB1;
  --color-light-purple: #D9B8FF;
  --color-purple-active: #B18BDD;
  --color-gray: #87879D;
  --color-light-gray: #87879D;

  /* Font Colors */
  --font-color-dark: #28283D;
  --font-color-light: #87879D;
  

  /************ TYPOGRAPHY ****************/

  /* Fonts */
  --red-hat-display: 'Red Hat Display', sans-serif;

  /* Font Weights; */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

}

/***********************************************/
/******************* GLOBAL ********************/
/***********************************************/

body {
  background-color: var(--main-background-color);
  font-family: var(--red-hat-display);
}

#main-container {
  width: 375px;
  height: 2215px;
}

#logo {
  height: 28px;
  width: 119px;
  background-image: url(../assets/logo.svg);
}