/***********************************************/
/***************** IMPORTS *********************/
/***********************************************/


/***********************************************/
/***************** VARIABLES *******************/
/***********************************************/

#main-container {
  width: 375px;
  height: 2215px;
}

#logo {
  height: 28px;
  width: 119px;
  background-image: url(../assets/logo.svg);
}